<a [routerLink]="['/', MainPath.OrderListPath]">Return To Order List</a>
<div *ngIf="error$.value">{{error$ | async}}</div>
<section *ngIf="data$ | async as data">
  <h2>Order ID {{data.id}}</h2>
  <app-order-item
    [product]="item" [count]="index"
    (productModified)="modified$.next($event)"
    (productDeleted)="deleteItem($event, data)"
              *ngFor="let item of data.items; let index = index; trackBy: trackByFn"></app-order-item>
  <b>Total: {{data.total}}</b>
  <button (click)="submitChanges(data)">Submit Changes</button>
</section>

